@font-face {
    font-family: Kish Test Ultra Wide;
    src: url(fonts/kishtest-boldultrawide.otf);
}

body{
    background-color: #F3F3F3;
    /* width:390px;
    height: 844px;
    border: solid black 2px; */
}

header{
    text-align: center;
    
}
    
h1 {
    display: inline-flex;
    font-family: Kish Test Ultra Wide;
    color: #A6B1E1;
    font-size: 400%;
    cursor: pointer;
    margin: 20px 0 20px 0;
}

.categories{
    flex-wrap: nowrap;
    
}

.topbutton{
    /* display: inline-flex; */
    margin: 0px 1% 0px 1%;
    padding: 1% 3% 1% 3%;
    border-radius: 30px;
    border: none;
    background-color: #A6B1E16B;
    font-family: Montserrat Alternates;
    font-size: 140%;
    color: #818181;
    transition-duration: 0.5s ;
}

.topbutton:hover {
    background-color: #a6b1e1b3;
    cursor: pointer;
}
