@font-face {
    font-family: Kish Test Ultra Wide;
    src: url(fonts/kishtest-boldultrawide.otf);
}

body{
    background-color: #F3F3F3;
    /* width:392px;
    height: 846px;
    border: solid black 1px; */
}
 
h1 {
    font-family: Kish Test Ultra Wide;
    color: #A6B1E1;
    background-color: #F3F3F3;
    font-size: 300%;
    text-align: center;
    cursor: pointer;
    padding: 3vh 0 3vh 0;
    margin: 2vh 0 0vh 0;
    position: sticky;
    top: 0px;
}

.categories{
    flex-wrap: nowrap;
    text-align: center;
}

.topbutton{
    /* display: inline-flex; */
    /* margin: 0px 1% 0px 1%; */
    padding: 0.8vh 3vw 0.8vh 3vw;
    border-radius: 30px;
    border: none;
    background-color: #A6B1E16B;
    font-family: Montserrat Alternates;
    font-size: 130%;
    color: #818181;
    transition-duration: 0.5s ;
}

.topbutton:hover {
    background-color: #a6b1e1b3;
    cursor: pointer;
}

button#button2{
    margin: 0 4vw 0 4vw;
}

.topic {
    font-family: Montserrat Alternates Bold;
    font-size: 150%;
    color: hsl(0, 0%, 80%);
    text-align: left;
    margin-top: 2vh;
    margin-bottom: 5vh;
    margin-left: 3vw;
}

img {
    width: 44vw
}

.card {
    margin: 0vh 0 2vh 2vw;
    padding: 0 0 0 0;
    border-radius: 10px;
    border: none;
    background-color: #F3F3F3;
    transition-duration: 0.5s;
}

.card:hover {
    box-shadow: 0 5px #a6b1e12d;
    cursor: pointer;
}
