@font-face {
    font-family:Kish Test Ultra Wide;
    font-weight: basic;
    font-style: basic;
    src: url(/fonts/kishtest-boldultrawide.otf);
}
@font-face {
    font-family:ArcherPro Bold;
    font-weight: basic;
    font-style: basic;
    src: url(/fonts/ArcherPro\ Bold.otf);
}

@import url('https://fonts.googleapis.com/css2?family=Jost:wght@700&display=swap');
body {
    background-color:#F3F3F3;
    font-family: "kishtest-boldultrawide.otf";
    font-size: 1em;
}

h1 {
    font-family: Kish Test Ultra Wide;
    color: #A6B1E1;
    background-color: #F3F3F3;
    font-size: 300%;
    text-align: center;
    /* cursor: pointer; */
    padding: 2vh 0 2vh 0;
    margin: 0vh 0 0vh 0;
    position: sticky;
    top: 0px;
}

a {
    cursor: pointer;
    text-decoration: none;
    color: #A6B1E1; 
}

.photo {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    text-align: center;
    justify-content: space-between;

    .production{
        display: inline-block;
    }
}

.production {

    height: 40vh;
    margin: 0 5vw 0 8vw;
    border-radius: 2em;
   
}

.name {
    font-family: 'Jost', sans-serif;
    font-weight: bold;
    color: #888888; 
    font-size: 2em; 
    margin: 2vh 0 2vh 2vw;
    
}

.sizes {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    text-align: center;
    justify-content: space-between;

    .button {
        display: inline-block;
    }
      
    
}

.button {
    font-family: ArcherPro Bold;
    font-size: 1.5em;
    color: #888888;
    background-color: #DAE0E8;
    border-radius: 10em;
    border: none;
    margin: 0 2vw 0 2vw;
    padding: 0.5vh 7vw 0.5vh 7vw;
    width: 20vw;
    

}

.price-settings {
    display: inline-flex;
    float: left;
}

.price {
    font-variant-numeric: lining-nums; 
    font-family: ArcherPro Bold;
    font-size: 2em;
    color: #888888;
    float: left;
    margin: 3vh 10vw 0 3vw;    
}

.pluses {
    font-size: 1.2em;
    text-align: center;
    background-color: #DAE0E8;
    color:#888888;
    border: none;
    border-radius: 1em;
    float: left;    
    /* height: 5vh; */
    padding: 0 0.46em 0 0.5em;
    margin: 0 0 0 0;
    transition-duration: 0.2s;
}

.pluses:hover {
    cursor: pointer;
    background-color: #cdd3db;
}

.amount {
    font-size: 1.3em;
    margin: 0 2vw 0 2vw;
}

.howmuch {
    font-family: ArcherPro Bold;
    font-size: 1.5em;
    color: #888888;
    display: inline-flex;
    float: left;
    margin: 3vh 0 0 0; 
}

