@font-face {
    font-family: Kish Test Ultra Wide;
    src: url(/fonts/kishtest-boldultrawide.otf);
}

html {
    transition: 0.5s 1s;
    scroll-behavior: smooth;
    scroll-padding: 13vh;
    
}

body{
    background-color: #F3F3F3;
    scroll-behavior: smooth;
    /* width:392px;
    height: 846px;
    border: solid black 1px; */
}
 
h1 {
    font-family: Kish Test Ultra Wide;
    /* color: #A6B1E1; */
    background-color: #F3F3F3;
    font-size: 300%;
    text-align: center;
    /* cursor: pointer; */
    padding: 2vh 0 2vh 0;
    margin: 1vh 0 0vh 0;
    position: sticky;
    top: 0px;
}

a {
    cursor: pointer;
    text-decoration: none;
    color: #A6B1E1;
}

.basket-icon {
    position: absolute;
    top: 3vh; left: 3vw;
    font-size: 90%;
}

.categories{
    flex-wrap: nowrap;
    text-align: center;
    margin: 0.9vh 0 0 0 ;
}

.topbutton{
    /* display: inline-flex; */
    /* margin: 0 0 0 0; */
    padding: 0.8vh 3vw 0.8vh 3vw;
    border-radius: 30px;
    border: none;
    background-color: #A6B1E16B;
    font-family: Montserrat Alternates;
    font-size: 1.2em;
    text-decoration: none;
    color: #818181;
    transition-duration: 0.5s;
    scroll-behavior: smooth;
}

.topbutton:hover {
    background-color: #a6b1e1b3;
    /* border: black 5px; */
    cursor: pointer;
}

a#button2{
    margin: 0 4vw 0 4vw;
}

.topic {
    font-family: Montserrat Alternates Bold;
    font-size: 150%;
    color: hsl(0, 0%, 80%);
    text-align: left;
    margin-top: 2vh;
    margin-bottom: 5vh;
    margin-left: 3vw;
}

img {
    width: 44vw
}

.card {
    margin: 0vh 0 2vh 2vw;
    padding: 0 0 0 0;
    border-radius: 10px;
    border: none;
    background-color: #F3F3F3;
    transition-duration: 0.5s;
}

.card:hover {
    box-shadow: 0 5px #a6b1e12d;
    cursor: pointer;
}
